@import "tailwindcss";

.vignette {
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);

  line-height: 0; /* ensure no space between bottom */

  display: inline-block; /* don't go wider than image */
}
